#custom ngouy
#make + cd 
mkcd () {
	mkdir -p "$*"
	cd "$*"
}

#create new class cpp
cncpp () {
	/bin/bash ~/zshrc-and-scripts/newclasscpp/cncpp.sh "$1"
}

#create a dir with n ex subdir
npj () {
	/bin/bash ~/zshrc-and-scripts/npj/npj.sh
}

#yolo
#test
#end custom ngouy
